.header-container{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 1rem 2rem;
    box-sizing: border-box;
    .logo-container{
        height: 50px;
        width: 50px;
        // padding: 20px;
        .logo{
            width: 100%;
            height: 100%;
        }
    }
    .options{
        display: flex;
        align-items: center;
        justify-content:flex-end;
        
        height:70px;
        .option{
            color: #e4811c;
            font-size: 1.1rem;
            font-family: 'Nunito', sans-serif;
            margin-right: 1rem;
            letter-spacing:.05rem;
            text-decoration: none;
            text-transform: capitalize;
            cursor: pointer;
            &:hover{
                background-color: #e4811c;
                color:#fff;
                padding:  .1rem .5rem;
                border: none;
                border-radius:.1rem;
                box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.274);
            }
        }
        .left{
            margin-left: 1rem;
        }
        .profile-pic{
            width: 60px;
            // height: 70px;
            & img{
                width: 35px;
                height: 35px;
                object-fit:cover;
                border-radius:50%;
            }
            &.auth-pic{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content:center;
            }
            .name{
                display: flex;
                color: #c26a12ec;
                font-size:.6rem;
                font-weight:600;
                text-transform:capitalize;
                font-style: italic;
            }
        }
    }
}