.btn{
    width: 140px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4811c;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    color: white;
    border:none;
    border-radius:.1rem;
    text-transform: capitalize;
    letter-spacing:.03rem;
    margin-top: 1rem;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
        transform: translateY(-3px);
        box-shadow: 1px 2px 4px  rgba(0, 0, 0, 0.5);
    }
    &.googleButton {
        width: 170px;
        font-size: 1rem;
        font-weight: lighter;
        background-color: #4285f4;
        color: #fff;
        &:hover{
            background-color: #357ae8;
            color: #fff;
        }
    }
}
